<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
		</Console>
		<Async name="ASYNC" bufferSize="500">
        	<AppenderRef ref="stdout"/>
    	</Async>   
	</Appenders>
	<Loggers>
	    <Logger name="de.komoot.photon" level="info"/>
		<Root level="warn">
			<AppenderRef ref="ASYNC" />
		</Root>
	</Loggers>
</Configuration>
