<!doctype html>
<html lang="en" ng-app="photon">
<head>
    <meta charset="utf-8">
    <title>Photon demo</title>
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
</head>
<body>
    <div class="wrapper" ng-view></div>
 {% raw %}
    <script type="text/ng-template" id="search.html">
        <input type="text" placeholder="Search a location..." ng-model="searchString" ng-change="search()" id="searchBox" />
        <leaflet id="map" markers="markers" center="center" tiles="tiles"></leaflet>
        <ul id="searchResults">
            <li ng-repeat="hit in hits" ng-click="mapCenter(hit)"><span ng-bind-html="getTitle(hit)"></span></li>
        </ul>
    </script>
{% endraw %}
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/angular-sanitize.js"></script>
    <script src="/static/js/angular-leaflet-directive.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
</body>
</html>